html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; 
}

#background-photo {
  width: 100%;
  height: 100vh;
}

.about-section {
  height: 50vh;
  width: 100%;
  display: flex;
}

.about-section-half {
  flex: 1;
  display: flex;
}

#cole-section {
  background: linear-gradient(#FC5226,#AF3B1D);
  color: white;
  padding-left: 2rem;
  flex-direction: space-around;
  position: absolute;
  top: 0;
  left: -110%;
  -webkit-animation: slide-right 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide-right 0.5s forwards;
  animation-delay: 1s;
}

#nick-section {
  background: #1CAC9C;
  color: white;
  position: absolute;
  top: 50vh;
  left: 100%;
  -webkit-animation: slide-left 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide-left 0.5s forwards;
  animation-delay: 1s;
}


.about-image-container {
  width: 20rem;
  height: 100%;
  display: inline-block;
  flex: 1;
}

.about-image {
  width: 20rem;
  height: 20rem;
  margin-top: 12.5%;
  display: inline-block;
}


.about-information {
  flex: 1;
  display: inline-block;
}

#cole-information {
  text-align: left;
}

#cole-information h3 {
  margin-top: 4rem;
}

#cole-information h3  {
  margin-left: 2rem;
}

#cole-information h4 {
  font-weight: lighter;
  margin-left: 2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
}

#nick-information {
  text-align: right;
}

#nick-information h3 {
  margin-top: 4rem;
}

#nick-information h3, #nick-information h4  {
  margin-right: 5rem;
}

 #nick-information h4 {
   font-family: 'Open Sans Condensed', sans-serif;
   letter-spacing: 3px;
 }


.about-links {
  margin: 2rem;
  width: 15rem;
  display: flex;
}

.about-links a {
  flex: 1;
}


.about-name {
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
}

.about-position {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: .5rem;
  font-weight: lighter;
}

#about-skills-cole {
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-left: 2rem;
  font-family: 'Titillium Web', sans-serif;
}

#about-skills-nick {
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-right: 5rem;
  font-family: 'Titillium Web', sans-serif;
}

.about-paragraph {
  padding: 3rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2rem;
  font-family: 'Titillium Web', sans-serif;
}

@-webkit-keyframes slide-right {
    100% { left: 0; }
}

@keyframes slide-right {
    100% { left: 0; }
}

@-webkit-keyframes slide-left {
    100% { left: 0; }
}

@keyframes slide-left {
    100% { left: 0; }
}
