html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;

}

.header {
  margin: 0;
  width: 100%;
  height: 5rem;
  top: 0;
  position: fixed;
  /*background: #1BA99C;*/
	background: transparent;
  z-index: 1;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
	margin: 0;
	padding: 0;
  -webkit-appearance: none;
}

.transparent-header {
	  background: #1BA99C;
	/*
	  background-color: white;
	height: 8vh !important;
	font-size: .8rem !important;

	color: #1BA99C !important;
	border-bottom: 1px solid #1BA99C;
		*/
    -webkit-appearance: none;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.transparent {
	background-color: white;
	/*
	font-size: .8rem !important;
	*/
  -webkit-appearance: none;
	color: #1BA99C !important;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gone {
	display: none;
  opacity: 0;
  visibility: hidden;
}

.nav-tabs {
  -webkit-appearance: none;
  float: right;
  margin-right: 1rem;
  color: white;
  list-style: none;
  width: 35rem;
  height: 60%;
  display: table;
}

.nav-tab {
  -webkit-appearance: none;
  flex: 1;
  height: 100%;
  color: white;
  display: inline-block;
  margin-left: 2rem;
  display: table-cell;
  vertical-align: middle;
}

.nav-tab-link {
  -webkit-appearance: none;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;

}
.nav-tab-link:hover{
  -webkit-appearance: none;

}


#header-logo-link {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: relative;
  height: 100%;
  padding-top: 10%;
	padding-bottom: 10%;
}

#header-logo {
  margin-left: 2rem;
  margin-top: 5px;
  width: 7.5rem;
  height: 3.8rem;
}

#icon {
  font-size: 2rem;
  color: white;
}

#web-nav {
  display: table;
}

.mobilenav {
  -webkit-appearance: none;
  display: none;
}



.about-section {
  display: flex;
  height: 50vh;
  width: 100%;
}

.about-section-half {
  flex: 1;
  display: flex;
}

#big-container {

}

#cole-section {
  background: white;
  color: black;
  padding-left: 2rem;
  flex-direction: space-around;
  position: absolute;
  top: 10%;
  left: -110%;
  -webkit-animation: slide-right 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide-right 0.5s forwards;
  animation-delay: 1s;
}

#nick-section {
  background: #F6F6F6;
  color: black;
  position: absolute;
  top: 65%;
  left: 100%;
  -webkit-animation: slide-left 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide-left 0.5s forwards;
  animation-delay: 1s;
}


.about-image-container {
  width: 100%;
  height: 100%;
  display: inline-block;
  flex: 1;
}

.about-image {
  width: 20rem;
  height: 20rem;
  margin-top: 10%;
  display: inline-block;
}


.about-information {
  flex: 1;
  display: inline-block;
}

#cole-information {
  text-align: left;
}

#cole-information h3 {
  margin-top: 4rem;
}

#cole-information h3  {
  margin-left: 2rem;
}

#cole-information h4 {
  font-weight: lighter;
  margin-left: 2rem;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
}

#nick-information {
  text-align: right;
}

#nick-information h3 {
  margin-top: 4rem;
}

#nick-information h3, #nick-information h4  {
  margin-right: 5rem;
}

 #nick-information h4 {
   font-family: 'Open Sans Condensed', sans-serif;
   letter-spacing: 3px;
 }


.about-links {
  margin: 2rem;
  width: 15rem;
  display: flex;
}
#nick-about-links{
  margin: 4rem;
  margin-top: 2rem;
}

.about-links a {
  flex: 1;
}


.about-name {
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
}

.about-position {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: .5rem;
  font-weight: lighter;
}

#about-skills-cole {
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-left: 2rem;
  font-family: 'Titillium Web', sans-serif;
}

#about-skills-nick {
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-right: 5rem;
  font-family: 'Titillium Web', sans-serif;
}

.about-paragraph {
  padding: 3rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3vw;
  font-family: 'Titillium Web', sans-serif;
}

@-webkit-keyframes slide-right {
    100% { left: 0; }
}

@keyframes slide-right {
    100% { left: 0; }
}

@-webkit-keyframes slide-left {
    100% { left: 0; }
}

@keyframes slide-left {
    100% { left: 0; }
}

footer {
	background:#325BAE;
	color: white;
	bottom: -38vh;
	width: 100%;
	height: 20vh;
	padding: 1rem;
  font-family: 'Oxygen', sans-serif;
  position: absolute;
}

.container {
  margin-top: 1.5rem;
}


@media only screen and (max-width: 1024px) {
  .about-section {
    display: flex;
    height: 70vw;
    width: 103vw;
    flex-direction: column;
  }

  .about-name {
    font-size: 3vw;
  }

  #cole-section {
  top: 5%;
  }

  #nick-section {
  top: 60%;
  }

  .about-position {
    font-size: 2vw;
  }

  #about-skills-cole {
    font-size: 2vw;
  }

  #about-skills-nick {
    font-size: 2vw;
  }

  #cole-information {
    margin-top: 5%;
    margin-right: 15%;
  }

  #nick-information {
    margin-left: 15%;
    margin-right: 0;
    margin-top: 2%;
  }
  .about-links {
    margin: 5%;
    margin-left: 20%;
    width: 70%;

  }

  #social-links {
    font-size: 3.3vw !important;
  }

  #nick-about-links {
    width: 55%;
    margin-left: 17%;

  }

  .about-image-container {
    margin-top: 4%;
    margin-left: 15%;
  }

  .about-image{
    height: 30vw;
    width: 30vw;
  }

  #nick-image-container {
    margin-top: 1%;
    margin-left: 0;
  }

  .about-paragraph {
    font-size: 1.8vw;
    margin-right: 5%;
  }

  #nick-paragraph {
    margin-right: 0%;
    margin-left: 3%;
    margin-top: 0;
  }

  #nick-section {
    flex-direction: column-reverse;
  }
  footer {
      bottom: -33vh;
    }
}

@media only screen and (max-width: 600px) {

  html, body, h1, h2, h3, h4, h5, h6 {
    overscroll-behavior: none;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
  }

  #mobile-home-image {
    padding-top: 3.5rem;
  }

  #web-nav {
    display: none;
  }

  .web-head{
    display: none;
  }

  .mobile-head{
    -webkit-appearance: none;
    display: block;
    float: left;

  }
  .nav-tab-link:hover{
    -webkit-appearance: none;
    text-decoration: none;


  }
   .mobilenav {
     -webkit-appearance: none;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    display: block;
  }

  .mobilenav #myLinks {
    -webkit-appearance: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
    margin-top: 65px;
    background:#1BA99C;
    text-align: center;
    width: 100%;
    transition: all .2s linear;
  }

  .mobilenav a {
    -webkit-appearance: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white;
    padding: 10px 16px 10px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .mobilenav a.icon {
    -webkit-appearance: none;
    display: inline-block;
    float:right;
    margin-top: 15px;
  }

  #header-logo-link {
      padding-top: 0;
      padding-bottom: 0;
    }

  #header-logo {
      margin-top: 10px;
      width: 7rem;
      height: 80%;;
      margin-left: 1rem;
    }

  #cole-section {
    background: white;
    color: black;
    padding-left: 0;
    position: static;
    -webkit-animation: none;
    -webkit-animation-delay: none;
    animation: none;
    animation-delay: none;
    height: 100%;
    margin-top: 20%;
  }

  #nick-section {
    background: #F6F6F6;
    color: black;
    position: static;
    -webkit-animation: none;
    -webkit-animation-delay: none;
    animation: none;
    animation-delay: none;
    height: 100%;
  }


  .about-section {
    display: flex;
    height:150vh;
    width: 103vw;
    flex-direction: column;
    text-align: center;

  }

  .about-section-half {
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 0;

  }

  #cole-half {
    flex-direction: column;
  }

  .about-name {
    font-size: 2rem;
    text-align: center;
  }

  .about-position {
    font-size: 1.3rem;
    text-align: center;
  }

  #about-skills-cole {
    font-size: 1.3rem;
    text-align: center;
  }

  #about-skills-nick {
    font-size: 1.3rem;
    text-align: center;
  }

  .about-paragraph {
    font-size: 1.1rem;
    margin: 0 auto;
    margin-right: 2%;
  }

  #nick-paragraph {
    margin-right: 4%;
  }

  .about-information {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  #cole-information {
    margin-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 7%;
    padding-top: 0;
  }

  #nick-information {
    margin-left: 20%;
    margin-right: 0;
    margin-top: 0;
  }

  #cole-information h3 {
    margin-top: 1rem;
  }

  #nick-information h3 {
    margin-top: 1rem;
  }

  .about-links {
    margin-left: 12%;
    width: 100%;
  }

  #social-links {
    font-size: 7vw !important;
  }

  #nick-about-links {
    width: 89%;
    margin-left: -13%;
    margin-bottom: 0;
  }

  .about-image-container {
    margin-left: 0;
    margin: 0 auto;
    margin: 0;
    padding: 0;
  }

  .about-image{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
  }

  #nick-image {
    text-align: center;
    margin-top: 5%;

  }

  #nick-section {
    flex-direction: column-reverse;
  }

  footer {
    position: static;
  }

  .container {
    margin-top: 1.5rem;
  }



}
