html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

#background-photo {
  width: 100%;
  height: 100vh;
}

.header {
  margin: 0;
  width: 100%;
  height: 10vh;
  top: 0;
  position: fixed;
	background: transparent;
  z-index: 1;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
	margin: 0;
	padding: 0;
  -webkit-appearance: none;
  background: #1BA99C;
}

.transparent-header {
	  background: #1BA99C;
	/*
	  background-color: white;
	height: 8vh !important;
	font-size: .8rem !important;

	color: #1BA99C !important;
	border-bottom: 1px solid #1BA99C;
		*/
    -webkit-appearance: none;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.transparent {
	background-color: white;
	/*
	font-size: .8rem !important;
	*/
  -webkit-appearance: none;
	color: #1BA99C !important;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gone {
	display: none;
  opacity: 0;
  visibility: hidden;
}

.nav-tabs {
  -webkit-appearance: none;
  float: right;
  margin-right: 1rem;
  color: white;
  list-style: none;
  width: 35rem;
  height: 60%;
  display: table;
}

.nav-tab {
  -webkit-appearance: none;
  flex: 1;
  height: 100%;
  color: white;
  display: inline-block;
  margin-left: 2rem;
  display: table-cell;
  vertical-align: middle;
}

.nav-tab-link {
  -webkit-appearance: none;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;

}
.nav-tab-link:hover{
  -webkit-appearance: none;

}


#header-logo-link {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: relative;
  height: 100%;
  padding-top: 10%;
	padding-bottom: 10%;
}

#header-logo {
  margin-left: 2rem;
  margin-top: 5px;
  width: 7.5rem;
  height: 3.8rem;
}

#icon {
  font-size: 2rem;
  color: white;
}

#web-nav {
  display: table;
}

.mobilenav {
  -webkit-appearance: none;
  display: none;
}



.services-section {
  width: 100%;
  background: white;
  /*
  background: #163448;
  */
}

.services-section-title {
  margin-top: 1rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}


#web-dev {
  position: absolute;
  top: 10vh;
  height: 300vh;
  background-color: #f3f3f3;
}

#mobile-dev {
  position: absolute;
  top: 310vh;
  height: 300vh;
  color: black;
}

#social-media {
  color: black;
  position: absolute;
  top: 610vh;
  height: 300vh;
  background-color: #f3f3f3;
}


.mobile-platforms-container {
  width: 80%;
  margin: auto;
  margin-top: 2.5rem;
  height: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-platform-container {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 1rem;
}

.img__description {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  font-family: 'Open Sans', sans-serif;
  padding: 2rem;
}

.mobile-platform-container:hover {
  cursor: pointer;
}

.mobile-platform-container:hover .img__description {
  visibility: visible;
  opacity: 1;
}


.mobile-section-logo {
  width: 15rem;
  height: 15rem;
}

.web-dev-photo {
  width: 10rem;
  display: block;
}

#frameworks-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: row;
  margin-top: 2rem;
}

#frameworks-container:hover {
  cursor: pointer;
  background-image: linear-gradient(#FC5226,#AF3B1D);
  color: white;
}


.tool-description {
  font-size: 1.2rem;
  font-family: sans-serif;
  float: left;
}

#framework-logos {
  width: 10rem;
  margin: auto;
}

#wordpress-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: row;
  margin-top: 2rem;
}

#wordpress-logo {
  width: 5rem;
  margin: auto;
  padding-right: 2rem;
}

#computer-pic-container {
  width: 50%;
  margin: auto;
}

#computer-pic {
  padding: 2rem;
  height: 100%;
  width: 100%;
  margin: auto;
}

#object{
	background-color: #fe5652;
  width: 10rem;
  height: 10rem;
  visibility: hidden;
}

.typewriter {
  margin-top: 2rem;
}

.typewriter h1 {
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: animated-text 1s steps(500, end) 0s 1 normal both,
  animated-cursor 600ms steps(500, end) infinite;
}

#software-development-title {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
}

#graphic-design-title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 2rem;
  color: black;
  font-size: 3rem;
  z-index: 1;
}

#social-media-title {
  text-align: center;
  margin-top: 2rem;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}

.main-container {
  width: 95%;
  margin: auto;
  height: 280vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
  align-items: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /*background:#325BAE;*/
}

#font-awesome-tools {
  font-size: 5rem;
  color: black;
  z-index: 100;
  text-align: center;
  width: 7rem;
  height: 7rem;
  background: red;
}

.title-icon-container {
  position: relative;
  width: 7rem;
  height: 7rem;
  top: -2.5rem;
  left: -2.5rem;
  display: inline-block;
}

.title-icon {
  width: 7rem;
}


.tools-container {
  width: 90%;
  margin: 4rem;
  height: 30%;
}

.tools-title {
  position: relative;
  top: -4rem;
  font-size: 3rem;
  text-align: center;
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  font-family: "Fira Sans", sans-serif;
}

.tools-column-container {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 70%;
}

.tools-column {
  width: 30%;
  text-align: center;
  border: 1px solid black;
  background-image: linear-gradient(#FC5226,#AF3B1D);
  background: #1BA99C;
  color: white;
  border: 3px solid #163448;
  border-radius: 1rem;
  transition: all .2s ease-in-out;
}

.tools-column:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.column-title {
  font-family: sans-serif;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  background: #163448;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.column-list-title {
  margin: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  text-decoration: underline;
}

.column-list {
  margin-top: 1rem;
  color: white;
  overflow: scroll;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  font-family: "Lato", sans-serif;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 37rem;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@-webkit-keyframes slide-right {
    100% { left: 0; }
}

@keyframes slide-right {
    100% { left: 0; }
}

@-webkit-keyframes slide-left {
    100% { left: 0; }
}

@keyframes slide-left {
    100% { left: 0; }
}

@-webkit-keyframes bounceInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-2000px);
    }
    60% {
       opacity: 1;
       -webkit-transform: translateX(30px);
    }
    80% {
       -webkit-transform: translateX(-10px);
    }
    100% {
       -webkit-transform: translateX(0);
    }
 }

 @keyframes bounceInLeft {
    0% {
       opacity: 0;
       transform: translateX(-2000px);
    }
    60% {
       opacity: 1;
       transform: translateX(30px);
    }
    80% {
       transform: translateX(-10px);
    }
    100% {
       transform: translateX(0);
    }
 }

 .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
 }


 @-webkit-keyframes bounceInRight {
   0% {
      opacity: 0;
      -webkit-transform: translateX(2000px);
   }
   60% {
      opacity: 1;
      -webkit-transform: translateX(-30px);
   }
   80% {
      -webkit-transform: translateX(10px);
   }
   100% {
      -webkit-transform: translateX(0);
   }
}

@keyframes bounceInRight {
   0% {
      opacity: 0;
      transform: translateX(2000px);
   }
   60% {
      opacity: 1;
      transform: translateX(-30px);
   }
   80% {
      transform: translateX(10px);
   }
   100% {
      transform: translateX(0);
   }
}

.bounceInRight {
   -webkit-animation-name: bounceInRight;
   animation-name: bounceInRight;
}

#software-tools-container {
  height: 3rem;
  width: 15rem;
  margin: auto;
  margin-top: 2rem;
}

#software-tools-frameworks {
  width: 15rem;
}

#adobe-suite-container {
  height: 3rem;
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
}

#adobe-suite-icons {
  width: 20rem;
}






#software-web-tools {
  color: black;
  background: red;
}

.popup {
  background: red;
}

.column-image {
  margin-top: 1rem;
  width: 10rem;
}

.column-link {
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}


footer {
	background:#325BAE;
	color: white;
	bottom: -830vh;
	width: 97.9%;
	height: 20vh;
	padding: 1rem;
  font-family: 'Oxygen', sans-serif;
  position: absolute;
}
