/*#1BA99C; #E64D1F;*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
      scroll-behavior: smooth;
      overscroll-behavior: none;
    }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Fira Sans", sans-serif;
}

.header {
  margin: 0;
  width: 100%;
  height: 10vh;
  top: 0;
  position: fixed;
  /*background: #1BA99C;*/
	background: transparent;
  z-index: 101;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
		margin: 0;
		padding: 0;
}

.transparent-header {
	  background: #1BA99C;
	/*
	  background-color: white;
	height: 8vh !important;
	font-size: .8rem !important;

	color: #1BA99C !important;
	border-bottom: 1px solid #1BA99C;
		*/
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.transparent {
	background-color: white;
	/*
	font-size: .8rem !important;
	*/
	color: #1BA99C !important;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gone {
	display: none;
}

.nav-tabs {
  float: right;
  margin-right: 1rem;
  color: white;
  list-style: none;
  width: 35rem;
  height: 60%;
  display: table;
}

.nav-tab {
  flex: 1;
  height: 100%;
  color: white;
  display: inline-block;
  margin-left: 2rem;
  display: table-cell;
  vertical-align: middle;
}

.nav-tab-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}


#header-logo-link {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: relative;
  height: 100%;
  padding-top: 10%;
	padding-bottom: 10%;
}

#header-logo {
  margin-left: 2rem;
  width: 9rem;
  height: 80%;;
}

/*header stuff above*/

/* section defaults below */

.section {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 15vh;
}

#home {
  padding-top: 0;
}

.section-header {
  margin: 0;
  color:black;
  font-size: 2.8rem;
  text-align: center;
  color: #333;
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
}

.section-description {
  text-align: center;
  font-size: 1.6rem;
  padding-left: 3%;
  padding-right: 3%;
  margin: auto;
  margin-top: 1.2rem;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

.button-container {
  width: 15rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 5rem;
  font-family: "Fira Sans", sans-serif;
}

.button {
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  outline: none;
  border:none;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 1.5rem;
  font-family: "Fira Sans", sans-serif;
  background-image: linear-gradient(#FC5226,#AF3B1D);
  color: white;
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.right-arrow {
  color: white;
  display: inline-block;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-bottom: 1%;
  margin-left: 5%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* section defaults above */

/* section home below */


#site-home-image-container, #site-home-image {
  position: relative;
  width: 100vw;
  height: 100vh;
}


#slogan-container {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60%;
  width: 60%;
  margin: auto;
  margin-top: 16rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
}

#slogan-text {
  margin: auto;
  font-size: 4.5rem;
  width: 100%;
  position: absolute;
  top: 0;
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;

}

#slogan-logo {
  margin: auto;
  font-size: 5.5rem;
  width: 18rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  color: white;
}

/* section home above */

/* section about below */

#about {
	background-color: #F6F6F6;
}

.profiles-container {
  display: flex;
  width: 10rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.profile{
    padding-left: 50%;
    padding-right: 50%;

}
.profile-description{
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;

}
.profile-name{
    margin:auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 1.6rem;

}

.profile-image-container, .profile-image {
  width: 18rem;
  height: 18rem;
}

/*services*/

.homePageServices {
  display: flex;
  margin: 0 auto;
  padding-left: 3%;
  padding-right:3%;
  margin-top: 5rem;
}

.homePageService {
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  transition: all .2s ease-in-out;
}

.homePageService:hover {
	transform: scale(1.1);
}

.serviceImage {
  width: 15rem;
  height:15rem;
}

.homePageServiceTitle {
  font-size: 1.3rem;
  text-align: center;
}

.homePageServiceDetails {
  text-align: center;
  margin:0;
  padding-left: 4%;
  padding-right: 4%;
}

/* featured projects*/

#portfolio {
  background-color: #F6F6F6;
  text-align: center;
  margin: 0 auto;
}

.projects-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 5rem;
}

.project {
  width: 20rem;
  height:25rem;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  margin-top: 2%;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.project:hover {
  transform: scale(1.05);
}

.project-title {
  margin-top: 5%;
  font-size: 1.7rem;
  margin-bottom: 0;
}
.project-description{
  font-size: 1.1rem;
}

.portfolio-link {
	text-align: center;
  text-decoration: none;
	color:#1CAC9C;
}

.portfolio-arrow{
  color:#1CAC9C;
  display: inline-block;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  text-align: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


.project-image {
  position: relative;
  max-width: 85%;
  max-height: 58%;
  width: auto;
  height: auto;

  margin: 0 auto;
  margin-top: 7%;
  border: 1px solid #ccc;
  text-align: center;
}

#contact-form {
	width: 50rem;
	height: 30rem;
	margin: auto;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 1px solid black;
}

.contact-input {
	height: 2.8rem;
	width: 20rem;
	margin: auto;
	border-radius: 2rem;
	outline: none;
	border: 1px solid #ccc;
	padding-left: 2rem;
	font-size: 1.2rem;
	font-family: "Fira Sans", verdana, sans-serif;
}

footer {
	background:#1CAC9C;
	color: white;
	bottom: 0;
	width: 100%;
	height: 20vh;
	margin: 0;
	padding: 1rem;
  font-family: 'Oxygen', sans-serif;
}

#contact-list {
	list-style: none;
}

#contact {
  text-align: center;
}

#mail-to-container {
  width: 100%;
  height: 8rem;
  margin: auto;
  text-align: center;
  margin-top: 5rem;
}

#mail-to-link {
  font-size: 2rem;
  text-align: center;
}

#icon {
  font-size: 2rem;
  color: white;
}

#web-nav {
  display: table;
}

#mobile-nav {
  display: none;
}

#contact {
  height: 50vh;
}


@media only screen and (max-width: 600px) {

	.section {
		height: 200vh;
	}

  #about {
    height: 160vh;
  }

  .profiles-container {
    margin-top: 0;
  }

  .profile {
    margin-top: 2rem;
  }

  .homePageServices {
    margin-top: 0;
  }

  .homePageService {
    margin-top: 2rem;
  }

  #portfolio {
    height: 200vh;
  }

  .projects-container {
    margin-top: 0;
  }

  .project {
    margin-top: 5rem;
  }

	#home {
		height: 60vh;
	}

  .profiles-container, .homePageServices, .projects-container {
    flex-direction: column;
		justify-content: space-between;
  }

	#site-home-image-container, #site-home-image {
		width: 100%;
		height: 40vh;
	}

	#slogan-container {
      background: #1CAC9C;;
		width: 100%;
		height: 10rem;
	}

	#slogan-text {
		font-size: 1.5rem;
	}

	#slogan-logo {
		height: 5rem;
		width: 10rem;
	}

  .header {
  }

  #web-nav {
    display: none;
  }

  #mobile-nav {
    background: #1CAC9C;;
    display: table;
    z-index: 103;
  }

  #contact {
    height: 50vh;
  }

}
