/*#1BA99C; #E64D1F;*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    -webkit-appearance: none;
}

a {
  -webkit-appearance: none;
}

html {
      scroll-behavior: smooth;
      overscroll-behavior: none;
    }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Fira Sans", sans-serif;
}

.header {
  margin: 0;
  width: 100%;
  height: 5rem;
  top: 0;
  position: fixed;
  /*background: #1BA99C;*/
	background: transparent;
  z-index: 101;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
	margin: 0;
	padding: 0;
  -webkit-appearance: none;
}

.transparent-header {
	  background: #1BA99C;
	/*
	  background-color: white;
	height: 8vh !important;
	font-size: .8rem !important;

	color: #1BA99C !important;
	border-bottom: 1px solid #1BA99C;
		*/
    -webkit-appearance: none;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.transparent {
	background-color: white;
	/*
	font-size: .8rem !important;
	*/
  -webkit-appearance: none;
	color: #1BA99C !important;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gone {
	display: none;
  opacity: 0;
  visibility: hidden;
}

.nav-tabs {
  -webkit-appearance: none;
  float: right;
  margin-right: 1rem;
  color: white;
  list-style: none;
  width: 35rem;
  height: 60%;
  display: table;
}

.nav-tab {
  -webkit-appearance: none;
  flex: 1;
  height: 100%;
  color: white;
  display: inline-block;
  margin-left: 2rem;
  display: table-cell;
  vertical-align: middle;
}

.nav-tab-link {
  -webkit-appearance: none;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Fira Sans", sans-serif;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;

}
.nav-tab-link:hover{
  -webkit-appearance: none;

}


#header-logo-link {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: relative;
  height: 100%;
  padding-top: 10%;
	padding-bottom: 10%;
}

#header-logo {
  margin-left: 2rem;
  margin-top: 5px;
  width: 7.5rem;
  height: 3.8rem;
}

/*header stuff above*/

/* section defaults below */

.section {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 12vh;
  padding-top: 6rem;
}

#home {
  padding-top: 0;
  height: 100%;
}

#mobile-home-image{
  display: none;
}

.section-header {
  margin: 0;
  color:black;
  font-size: 2.8rem;
  text-align: center;
  color: #333;
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
}

.section-description {
  text-align: center;
  font-size: 1.6rem;
  padding-left: 3%;
  padding-right: 3%;
  margin: auto;
  margin-top: 1.2rem;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

.button-container {
  width: 15rem;
  height: 4rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: "Fira Sans", sans-serif;
}

.button {
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  outline: none;
  border:none;
  cursor: pointer;
  margin: 0 auto;
  border-radius: .5rem;
  font-family: "Fira Sans", sans-serif;
  background-image: linear-gradient(#FC5226,#AF3B1D);
  color: white;
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.right-arrow {
  color: white;
  display: inline-block;
  border: solid white;
  border-width: 0 3px 3px 0;

  padding: 5px;
  margin-bottom: 1%;
  margin-left: 5%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* section defaults above */

/* section home below */


#site-home-image-container{
  position: relative;
  width: 100%;
  height: 100%;
}
#site-home-image{
  height: 50vw;
}

#site-home-image-mobile{
  display: none;
}
#slogan-container {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60%;
  width: 60%;
  margin: auto;
  margin-top: 17%;
  padding-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#slogan-text {
  margin: auto;
  font-size: 5vw;
  width: 100%;
  position: absolute;
  top: 0;
  color: white;
  font-family: "Lato", sans-serif;
  text-align: center;

}

#slogan-logo {
  margin: auto;
  width: 18rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 4%;
  color: white;
}

/* section home above */

/* section about below */

#about {
  height: 100%;
}

.profiles-container {
  display: flex;
  width: 10rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.profile{
    padding-left: 50%;
    padding-right: 50%;

}
.profile-description{
    margin: 0 auto;
    text-align: center;
    font-size: 1.3rem;

}
.profile-name{
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 1.6rem;

}

.profile-image-container, .profile-image {
  width: 18rem;
  height: 18rem;
}

/*services*/
#services{
  height: 100%;
  background-color: #F6F6F6;
}
.homePageServices {
  display: flex;
  margin: 0 auto;
  padding-left: 3%;
  padding-right:3%;
  margin-top: 5rem;
}

.homePageService {
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  transition: all .2s ease-in-out;
}

.homePageService:hover {
	transform: scale(1.1);
}

.serviceImage {
  width: 20vw;
  height:20vw;
}

.homePageServiceTitle {
  font-size: 1.3rem;
  text-align: center;
}

.homePageServiceDetails {
  text-align: center;
  margin:0;
  padding-left: 4%;
  padding-right: 4%;
}

/* featured projects*/

#portfolio {
  background-color: #F6F6F6;
  text-align: center;
  margin: 0 auto;
  height: 100%;
}


.project {
  width: 20rem;
  height:25rem;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  margin-top: 2%;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
	transition: all .2s ease-in-out;
	cursor: pointer;
  transform-style: preserve-3d;

  position: relative;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.project:hover{
  transform: rotateY(180deg);
}



/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .project-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.project-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.project-front h1, .project-back h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.project-front p, .project-back p{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
/*
.project:hover {
  transform: scale(1.05);
}
*/

.project-title {
  margin-top: 5%;
  font-size: 1.7rem;
  margin-bottom: 0;
}


.project-description{
  font-size: 1.1rem;
}

.portfolio-link {
	text-align: center;
  text-decoration: none;
	color:#1CAC9C;
}
#sameday-title{
  margin-top: 17%;

}

#portfolio-button{
  margin-bottom: 10px;
}





.portfolio-arrow{
  color:#1CAC9C;
  border: solid #1CAC9C;
  display: inline-block;
  border-width: 0 2px 2px 0;
  padding: 4px;
  margin-left: 3px;
  text-align: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



footer {
	background:#325BAE;
	color: white;
	bottom: 0;
	width: 100%;
	height: 15vh;
	margin: 0;
	padding: 2rem;
  font-family: 'Oxygen', sans-serif;
}

#contact-list {
	list-style: none;
}

#contact {
  text-align: center;
  height: 100%;

}


#mail-to-container {
  width: 400px;
  height:4rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 4rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.41);
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin-bottom: 4rem;
  background-image: linear-gradient(#FC5226,#AF3B1D);
}
#mail-to-container:hover{
transform: scale(1.05);
}

#mail-to-link {
  font-size: 2rem;
  text-align: center;
  line-height: 65px;
  width: 100%;
  text-decoration: none;
  color: white;

}

#icon {
  font-size: 2rem;
  color: white;
}

#web-nav {
  display: table;
}

.mobilenav {
  -webkit-appearance: none;
  display: none;
}


.projects-container {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  margin: auto;
	margin-top: 5rem;
}



@media only screen and (max-width: 600px) {

	.section{
   height: 100%;
    padding-top: 5vh;
}
  .section h2{
    font-size: 2.3rem;

  }
  .section p{
    font-size: 1.4rem;
  }

  .profiles-container {
    margin-top: 0;
  }

  .profile {
    margin-top: 2rem;
  }

  .profile-image-container, .profile-image{
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
  }

  .homePageServices {
    margin-top: 0;
  }

  .serviceImage {
    height: 10rem;
    width: 10rem;
  }

  .homePageService {
    margin-top: 2rem;
  }


  .project {
    margin-top: 5rem;
  }

	#home {
		height: 100vh;

	}

  .profiles-container, .homePageServices, .projects-container {
    flex-direction: column;
	 justify-content: space-between;
  }

  #site-home-image{
	 display: none;
  }
  #site-home-image-container{
    height: 100%;
    background: linear-gradient(#325BAE,#192E57);
  }

  #mobile-home-image{
    padding-top: 3.5rem;
  }


	#slogan-container {
     margin: 0 auto;
     height: 100%;
     width: 90%;
	}

	#slogan-text {
		font-size: 2.3rem;
    margin-top: 27rem;
    display: none;
	}

	#slogan-logo {
		height: 5rem;
		width: 10rem;
    margin-bottom: 1rem;
    display: none;
	}

#web-nav {
  display: none;
}

.web-head{
  display: none;
}

.mobile-head{
  -webkit-appearance: none;
  display: block;
  float: left;

}
.nav-tab-link:hover{
  -webkit-appearance: none;
  text-decoration: none;


}
 .mobilenav {
   -webkit-appearance: none;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  display: block;
}

.mobilenav #myLinks {
  -webkit-appearance: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  margin-top: 65px;
  background:#1BA99C;
  text-align: center;
  width: 100%;
  transition: all .2s linear;
}

.mobilenav a {
  -webkit-appearance: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: white;
  padding: 10px 16px 10px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobilenav a.icon {
  -webkit-appearance: none;
  display: inline-block;
  float:right;
  margin-top: 15px;
}

  #header-logo-link {
    padding-top: 0;
    padding-bottom: 0;
  }

  #header-logo {
    margin-top: 10px;
    width: 7rem;
    height: 80%;;
    margin-left: 1rem;
  }
  .button-container, .button{
  height: 4rem;
  width: 13rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  }
  .homePageService:hover {
  transform: none;
  }
  .project:hover{
    transform: none;
  }
  #mail-to-container:hover{
    transform: none;
  }
  .project{
    margin-top: 2rem;

  }
  .project-title{
    margin-top: 0;
  }
  #sameday-title{
    margin-top: 2rem;
  }
  .portfolio-link{
    font-size: 1.5rem;
  }
  .portfolio-arrow{
    border-width: 0 4px 4px 0;
    padding: 6px;
    margin-left: 3px;
  }
  #contact {
    height: 40vh;
  }
  #mail-to-container{
    width: 300px;
    height: 4rem;
  }
  #mail-to-link{
    font-size: 1.5rem;
  }

  .projects-container {
  	width: 90%;
  	display: flex;
  	flex-direction: column;
    margin: auto;
  	margin-top: 5rem;
  }

}



:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: white;
}

.card {
  position: relative;
  height: 28rem;
  width: 22rem;
}

.card:hover {
  cursor: pointer;
}

.card__content {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-position: center;
  background-color: var(--clr);
  background-size:contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  color: #333;
}

#same-day-dental-card {
  background-image: url('../assets/project-photos/samedaydentallogo.png');
}

#complete-checklists-card {
  background-image : url('../assets/project-photos/completechecklistslogo.png')
}

#zaparelli-card {
  background-image : url('../assets/zaparelli.png')
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
}

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: var(--fw-bold);
  opacity: .7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}

.card__back {
  transform: rotateY(.5turn);
  color: var(--clr);
  background: #333;
}


.project-image {
  position: relative;
  width: 13rem;
  height: 12rem;
  margin: 0 auto;
  text-align: center;
}

.project-feedback {
  font-size: 1.2rem;
}
